In [1]:
import pandas as pd
from functools import reduce

In [2]:
#combine all the Texas hourly usage data in 2015
texas_data1_6 = pd.read_csv('texas-hourly-1-6.csv', na_values=[])
texas_data6_9 = pd.read_csv('texas-hourly-6-9.csv', na_values=[])
texas_data9_10 = pd.read_csv('901-1001_2015all.csv', na_values=[])
texas_data10_11 = pd.read_csv('1001-1101_2015all.csv', na_values=[])
texas_data11_12 = pd.read_csv('1101-1201_2015all.csv', na_values=[])
texas_data12_1 = pd.read_csv('1201-0101_2015all.csv', na_values=[])

In [4]:
#collect Texas data ID without missing value
dataid = reduce(set.intersection,map(set,[texas_data1_6['localhour'],texas_data6_9['localhour'],texas_data9_10['dataid'],texas_data10_11['dataid'],texas_data11_12['dataid'],texas_data12_1['dataid']]))

In [5]:
texas_data1_6 = texas_data1_6.rename(columns=lambda x: x.replace('\t', ''))
texas_data1_6 = texas_data1_6.rename(columns={'dataid':'localhour','localhour':'dataid'})
texas_data1_6.replace('\n','')
texas_data1_6 = texas_data1_6[texas_data1_6['dataid'].isin(dataid)]
texas_data1_6.tail()

,localhour,dataid,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,shed1,sprinkler1,use,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1,water_meter_value,gas_meter_value
1709065,2015-06-02 00:00:00-05,9938,0.275583,0.000050,0.0,0.0,0.0,0.00000,0.0,0.00000,...,0.0,0.0,2.751250,0.00000,0.0,0.0,0.0,0.0,0,0
1709066,2015-06-02 00:00:00-05,9939,0.137500,0.142467,0.0,0.0,0.0,0.00415,0.0,0.04225,...,0.0,0.0,1.241400,0.09655,0.0,0.0,0.0,0.0,0,0
1709067,2015-06-02 00:00:00-05,9942,0.000000,0.156217,0.0,0.0,0.0,0.00000,0.0,0.00000,...,0.0,0.0,0.457283,0.00000,0.0,0.0,0.0,0.0,0,0
1709068,2015-06-02 00:00:00-05,9971,1.134367,0.000000,0.0,0.0,0.0,0.00000,0.0,0.00000,...,0.0,0.0,1.789800,0.00000,0.0,0.0,0.0,0.0,0,0
1709070,2015-06-02 00:00:00-05,9982,0.311650,0.000000,0.0,0.0,0.0,0.00000,0.0,0.00410,...,0.0,0.0,0.752350,0.00000,0.0,0.0,0.0,0.0,0,0

In [6]:

texas_data6_9 = texas_data6_9.rename(columns=lambda x: x.replace('\t', ''))
texas_data6_9 = texas_data6_9.rename(columns={'dataid':'localhour','localhour':'dataid'})
texas_data6_9.replace('\n','')
texas_data6_9 = texas_data6_9[texas_data6_9['dataid'].isin(dataid)]
texas_data6_9.tail()

,localhour,dataid,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,shed1,sprinkler1,use,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1,water_meter_value,gas_meter_value
963023,2015-09-02 00:00:00-05,9938,0.351767,0.000400,0.0,0.0,0.0,0.000,0.0,0.000,...,0.0,0.0,2.728933,0.000000,0.0,0.0,0.0,0.0,0,0
963024,2015-09-02 00:00:00-05,9939,0.142283,0.000000,0.0,0.0,0.0,0.004,0.0,0.000,...,0.0,0.0,1.180983,0.180817,0.0,0.0,0.0,0.0,0,0
963025,2015-09-02 00:00:00-05,9942,0.203917,0.320383,0.0,0.0,0.0,0.000,0.0,0.000,...,0.0,0.0,0.959833,0.000000,0.0,0.0,0.0,0.0,0,0
963026,2015-09-02 00:00:00-05,9971,0.351283,0.000000,0.0,0.0,0.0,0.000,0.0,0.000,...,0.0,0.0,0.782050,0.000000,0.0,0.0,0.0,0.0,0,0
963027,2015-09-02 00:00:00-05,9982,0.377283,0.000000,0.0,0.0,0.0,0.000,0.0,0.067,...,0.0,0.0,0.949583,0.000000,0.0,0.0,0.0,0.0,0,0

In [7]:

texas_data9_10 = texas_data9_10.rename(columns=lambda x: x.replace('\t', ''))
texas_data9_10.replace('\n','')
texas_data9_10 = texas_data9_10[texas_data9_10['dataid'].isin(dataid)]
texas_data9_10.tail()

,dataid,localhour,use,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,...,refrigerator1,refrigerator2,security1,shed1,sprinkler1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1
373314,9982,2015-09-30 20:00:00-05,2.163633,1.080250,NaN,NaN,NaN,NaN,NaN,NaN,...,0.053617,0.040817,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373315,9982,2015-09-30 21:00:00-05,4.110250,0.854350,NaN,NaN,NaN,NaN,NaN,NaN,...,0.140750,0.101200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373316,9982,2015-09-30 22:00:00-05,1.508667,0.692667,NaN,NaN,NaN,NaN,NaN,NaN,...,0.071533,0.088300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373317,9982,2015-09-30 23:00:00-05,1.123717,0.533550,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051300,0.086400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373318,9982,2015-10-01 00:00:00-05,0.811417,0.354483,NaN,NaN,NaN,NaN,NaN,NaN,...,0.047517,0.085300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:

texas_data10_11 = texas_data10_11.rename(columns=lambda x: x.replace('\t', ''))
texas_data10_11.replace('\n','')
texas_data10_11 = texas_data10_11[texas_data10_11['dataid'].isin(dataid)]
texas_data10_11.tail()

,dataid,localhour,use,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,...,refrigerator1,refrigerator2,security1,shed1,sprinkler1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1
369889,9982,2015-10-31 20:00:00-05,0.897917,0.15565,NaN,NaN,NaN,NaN,NaN,NaN,...,0.063367,0.081317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369890,9982,2015-10-31 21:00:00-05,0.856833,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.061333,0.014500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369891,9982,2015-10-31 22:00:00-05,1.002700,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.043833,0.007000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369892,9982,2015-10-31 23:00:00-05,0.385433,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.039300,0.010650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369893,9982,2015-11-01 00:00:00-05,0.400383,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.028533,0.090833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:

texas_data11_12 = texas_data11_12.rename(columns=lambda x: x.replace('\t', ''))
texas_data11_12.replace('\n','')
texas_data11_12 = texas_data11_12[texas_data11_12['dataid'].isin(dataid)]
texas_data11_12.tail()

,dataid,localhour,use,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,...,refrigerator1,refrigerator2,security1,shed1,sprinkler1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1
332023,9982,2015-11-30 20:00:00-06,0.411583,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.05055,0.020950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332024,9982,2015-11-30 21:00:00-06,0.440583,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04670,0.089400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332025,9982,2015-11-30 22:00:00-06,0.265617,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.11335,0.024567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332026,9982,2015-11-30 23:00:00-06,0.216100,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.07940,0.010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332027,9982,2015-12-01 00:00:00-06,0.230417,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.04860,0.053533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:

texas_data12_1 = texas_data12_1.rename(columns=lambda x: x.replace('\t', ''))
texas_data12_1.replace('\n','')
texas_data12_1 = texas_data12_1[texas_data12_1['dataid'].isin(dataid)]
texas_data12_1.tail()

,dataid,localhour,use,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,...,refrigerator1,refrigerator2,security1,shed1,sprinkler1,utilityroom1,venthood1,waterheater1,waterheater2,winecooler1
333704,9982,2015-12-31 20:00:00-06,0.492500,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.039317,0.012150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333705,9982,2015-12-31 21:00:00-06,0.550750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.039883,0.089717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333706,9982,2015-12-31 22:00:00-06,0.415683,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.042083,0.010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333707,9982,2015-12-31 23:00:00-06,0.390033,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041550,0.010000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333708,9982,2016-01-01 00:00:00-06,0.450883,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.035067,0.065150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
Texas_data = [texas_data1_6, texas_data6_9, texas_data9_10, texas_data10_11, texas_data11_12, texas_data12_1]
Texas_2015 = pd.concat(Texas_data)

In [12]:
Texas_2015.fillna(0,inplace= True)

In [13]:
import gc
del texas_data1_6
del texas_data6_9
del texas_data9_10
del texas_data10_11
del texas_data11_12
del texas_data12_1
gc.collect()

287

In [14]:
hourly_data_PSTexas =Texas_2015[['dataid']] #the summarized data from Texas
hourly_data_PSTexas['Localhour'] =Texas_2015[['localhour']]
hourly_data_PSTexas['Total_use'] = Texas_2015['use']
hourly_data_PSTexas['Space_heat'] = Texas_2015['heater1']
hourly_data_PSTexas['Cooling'] = Texas_2015['airwindowunit1'] + Texas_2015['air1'] + Texas_2015['air2'] + Texas_2015['air3']
hourly_data_PSTexas['Water_heat'] = Texas_2015['waterheater1'] + Texas_2015['waterheater2']
hourly_data_PSTexas['Refrigerator'] = Texas_2015['refrigerator1'] + Texas_2015['refrigerator2']
hourly_data_PSTexas['Freezer'] = Texas_2015['freezer1']
hourly_data_PSTexas['Oven'] = Texas_2015['range1'] + Texas_2015['oven1'] + Texas_2015['oven2']
hourly_data_PSTexas['Microwave'] = Texas_2015['microwave1']
hourly_data_PSTexas['Clotheswasher'] = Texas_2015['clotheswasher1']
hourly_data_PSTexas['Clothesdryer'] = Texas_2015['clotheswasher_dryg1']
hourly_data_PSTexas['Dishwasher'] = Texas_2015['dishwasher1']
hourly_data_PSTexas['Furnace'] = Texas_2015['furnace1']
hourly_data_PSTexas['Pool_pump'] = Texas_2015['poolpump1']
hourly_data_PSTexas['Hot_tub_pumb'] =Texas_2015['jacuzzi1'] + Texas_2015['pump1']
hourly_data_PSTexas['Light&fan'] = Texas_2015['bathroom1'] + Texas_2015['bathroom2']+ Texas_2015['bedroom1']+ Texas_2015['bedroom2']+ Texas_2015['bedroom3']+ Texas_2015['bedroom4']+ Texas_2015['bedroom5']+ Texas_2015['diningroom1']+ Texas_2015['diningroom2']+ Texas_2015['garage1']+Texas_2015['garage2']+ Texas_2015['kitchen1']+ Texas_2015['kitchen2']+Texas_2015['lights_plugs1']+ Texas_2015['lights_plugs2']+Texas_2015['lights_plugs3']+ Texas_2015['lights_plugs4']+ Texas_2015['lights_plugs5']+ Texas_2015['lights_plugs6']+ Texas_2015['livingroom1']+ Texas_2015['livingroom2']+ Texas_2015['office1']+ Texas_2015['outsidelights_plugs1']+ Texas_2015['outsidelights_plugs2']+ Texas_2015['poollight1']+ Texas_2015['housefan1']

E:\Ana\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Ana\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
E:\Ana\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
E:\Ana\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
E:\Ana\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Ana\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
E:\Ana\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Ana\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
E:\Ana\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
E:\Ana\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
E:\Ana\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
E:\Ana\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
E:\Ana\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

E:\Ana\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
E:\Ana\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
E:\Ana\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
hourly_data_PSTexas[hourly_data_PSTexas['dataid']==59]

,dataid,Localhour,Total_use,Space_heat,Cooling,Water_heat,Refrigerator,Freezer,Oven,Microwave,Clotheswasher,Clothesdryer,Dishwasher,Furnace,Pool_pump,Hot_tub_pumb,Light&fan
1,59,2015-01-01 00:00:00-06,3.689283,0.0,2.251383,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.421800,0.154733,0.0,0.0
475,59,2015-01-01 01:00:00-06,3.863017,0.0,2.290683,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.622717,0.155133,0.0,0.0
949,59,2015-01-01 02:00:00-06,3.471817,0.0,2.250267,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.439250,0.112583,0.0,0.0
1423,59,2015-01-01 03:00:00-06,3.562250,0.0,2.018917,0.0,0.008000,0.0,0.000050,0.0,0.0,0.0,0.0,0.595367,0.014117,0.0,0.0
1897,59,2015-01-01 04:00:00-06,3.229150,0.0,2.090683,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.399567,0.082133,0.0,0.0
2371,59,2015-01-01 05:00:00-06,3.704500,0.0,2.189567,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.463833,0.155517,0.0,0.0
2845,59,2015-01-01 06:00:00-06,3.966783,0.0,2.171450,0.0,0.008000,0.0,0.000100,0.0,0.0,0.0,0.0,0.836017,0.156133,0.0,0.0
3319,59,2015-01-01 07:00:00-06,5.560983,0.0,1.935950,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.386250,0.153717,0.0,0.0
3793,59,2015-01-01 08:00:00-06,5.903100,0.0,1.861033,0.0,0.008000,0.0,0.000267,0.0,0.0,0.0,0.0,1.085400,0.154633,0.0,0.0
4266,59,2015-01-01 09:00:00-06,4.807283,0.0,1.627933,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.334200,0.152750,0.0,0.0
4740,59,2015-01-01 10:00:00-06,5.465733,0.0,1.486583,0.0,0.008000,0.0,0.000050,0.0,0.0,0.0,0.0,0.663383,0.778517,0.0,0.0
5214,59,2015-01-01 11:00:00-06,6.023133,0.0,1.839433,0.0,0.008000,0.0,0.000050,0.0,0.0,0.0,0.0,0.680500,1.436667,0.0,0.0
5688,59,2015-01-01 12:00:00-06,6.097767,0.0,1.568933,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.324650,2.275433,0.0,0.0
6162,59,2015-01-01 13:00:00-06,7.709533,0.0,1.262483,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.271333,2.067583,0.0,0.0
6636,59,2015-01-01 14:00:00-06,4.941967,0.0,1.319133,0.0,0.008000,0.0,0.000117,0.0,0.0,0.0,0.0,0.597850,0.191117,0.0,0.0
7110,59,2015-01-01 15:00:00-06,4.006883,0.0,0.725917,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.166600,0.150283,0.0,0.0
7584,59,2015-01-01 16:00:00-06,3.073117,0.0,0.325550,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.083217,0.149583,0.0,0.0
8058,59,2015-01-01 17:00:00-06,3.966367,0.0,0.226000,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.065533,0.148333,0.0,0.0
8532,59,2015-01-01 18:00:00-06,3.662483,0.0,0.287083,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.077900,0.091683,0.0,0.0
9006,59,2015-01-01 19:00:00-06,3.532950,0.0,0.288167,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.077567,0.009200,0.0,0.0
9480,59,2015-01-01 20:00:00-06,3.661067,0.0,0.430900,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.104217,0.066900,0.0,0.0
9954,59,2015-01-01 21:00:00-06,4.579683,0.0,1.526167,0.0,0.008000,0.0,0.000133,0.0,0.0,0.0,0.0,0.604733,0.152133,0.0,0.0
10428,59,2015-01-01 22:00:00-06,4.802550,0.0,2.620667,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.476983,0.152883,0.0,0.0
10902,59,2015-01-01 23:00:00-06,4.468450,0.0,2.648033,0.0,0.008000,0.0,0.000100,0.0,0.0,0.0,0.0,0.788667,0.154533,0.0,0.0
11376,59,2015-01-02 00:00:00-06,3.896283,0.0,2.298917,0.0,0.008033,0.0,0.000000,0.0,0.0,0.0,0.0,0.430700,0.153333,0.0,0.0
11850,59,2015-01-02 01:00:00-06,3.759650,0.0,2.119683,0.0,0.008000,0.0,0.000067,0.0,0.0,0.0,0.0,0.715533,0.154100,0.0,0.0
12324,59,2015-01-02 02:00:00-06,3.842983,0.0,2.310983,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.436600,0.153483,0.0,0.0
12798,59,2015-01-02 03:00:00-06,3.828700,0.0,1.882667,0.0,0.008000,0.0,0.000117,0.0,0.0,0.0,0.0,0.724533,0.153467,0.0,0.0
13272,59,2015-01-02 04:00:00-06,3.427917,0.0,2.072483,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.412967,0.107400,0.0,0.0
13746,59,2015-01-02 05:00:00-06,3.007633,0.0,1.817600,0.0,0.008000,0.0,0.000000,0.0,0.0,0.0,0.0,0.354567,0.013517,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,59,2015-12-30 19:00:00-06,2.747900,0.0,0.036300,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.017050,0.009200,0.0,0.0
716,59,2015-12-30 20:00:00-06,3.047833,0.0,0.036233,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.016783,0.008900,0.0,0.0
717,59,2015-12-30 21:00:00-06,2.249217,0.0,0.303567,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.043233,0.010333,0.0,0.0
718,59,2015-12-30 22:00:00-06,2.590233,0.0,0.991967,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.097217,0.011333,0.0,0.0
719,59,2015-12-30 23:00:00-06,3.760417,0.0,1.711100,0.0,0.009000,0.0,0.000050,0.0,0.0,0.0,0.0,0.376217,0.012117,0.0,0.0
720,59,2015-12-31 00:00:00-06,3.392567,0.0,1.724550,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.144300,0.011967,0.0,0.0
721,59,2015-12-31 01:00:00-06,3.544183,0.0,1.886933,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.160600,0.012233,0.0,0.0
722,59,2015-12-31 02:00:00-06,3.578833,0.0,1.599533,0.0,0.009000,0.0,0.000067,0.0,0.0,0.0,0.0,0.390683,0.012267,0.0,0.0
723,59,2015-12-31 03:00:00-06,3.334650,0.0,1.693167,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.147917,0.012017,0.0,0.0
724,59,2015-12-31 04:00:00-06,3.310517,0.0,1.694800,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.147683,0.011850,0.0,0.0
725,59,2015-12-31 05:00:00-06,3.635033,0.0,1.636433,0.0,0.009000,0.0,0.000067,0.0,0.0,0.0,0.0,0.413117,0.012317,0.0,0.0
726,59,2015-12-31 06:00:00-06,3.672417,0.0,1.851400,0.0,0.008983,0.0,0.000000,0.0,0.0,0.0,0.0,0.157717,0.213883,0.0,0.0
727,59,2015-12-31 07:00:00-06,4.127100,0.0,2.029433,0.0,0.008783,0.0,0.000000,0.0,0.0,0.0,0.0,0.164367,0.206400,0.0,0.0
728,59,2015-12-31 08:00:00-06,5.168000,0.0,1.651050,0.0,0.008683,0.0,0.000117,0.0,0.0,0.0,0.0,0.446000,0.205100,0.0,0.0
729,59,2015-12-31 09:00:00-06,4.069183,0.0,0.214783,0.0,0.008900,0.0,0.000000,0.0,0.0,0.0,0.0,0.034667,0.632067,0.0,0.0
730,59,2015-12-31 10:00:00-06,3.501617,0.0,0.038283,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.018383,1.958400,0.0,0.0
731,59,2015-12-31 11:00:00-06,3.979467,0.0,0.038900,0.0,0.008967,0.0,0.000000,0.0,0.0,0.0,0.0,0.018683,2.575733,0.0,0.0
732,59,2015-12-31 12:00:00-06,1.914050,0.0,0.037833,0.0,0.008933,0.0,0.000000,0.0,0.0,0.0,0.0,0.018483,0.468500,0.0,0.0
733,59,2015-12-31 13:00:00-06,1.650467,0.0,0.037950,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.018617,0.203583,0.0,0.0
734,59,2015-12-31 14:00:00-06,1.624067,0.0,0.037700,0.0,0.008867,0.0,0.000000,0.0,0.0,0.0,0.0,0.018500,0.204417,0.0,0.0
735,59,2015-12-31 15:00:00-06,2.342333,0.0,0.676867,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.070400,0.206350,0.0,0.0
736,59,2015-12-31 16:00:00-06,2.572633,0.0,0.886333,0.0,0.008917,0.0,0.000000,0.0,0.0,0.0,0.0,0.089100,0.206233,0.0,0.0
737,59,2015-12-31 17:00:00-06,2.301733,0.0,0.674417,0.0,0.008283,0.0,0.000000,0.0,0.0,0.0,0.0,0.073700,0.206000,0.0,0.0
738,59,2015-12-31 18:00:00-06,2.223450,0.0,0.673633,0.0,0.008583,0.0,0.000000,0.0,0.0,0.0,0.0,0.073767,0.019650,0.0,0.0
739,59,2015-12-31 19:00:00-06,2.445183,0.0,0.758283,0.0,0.008967,0.0,0.000000,0.0,0.0,0.0,0.0,0.232167,0.011500,0.0,0.0
740,59,2015-12-31 20:00:00-06,2.352550,0.0,0.875700,0.0,0.008900,0.0,0.000000,0.0,0.0,0.0,0.0,0.090817,0.011367,0.0,0.0
741,59,2015-12-31 21:00:00-06,2.155900,0.0,0.675200,0.0,0.008983,0.0,0.000000,0.0,0.0,0.0,0.0,0.073483,0.011250,0.0,0.0
742,59,2015-12-31 22:00:00-06,2.330633,0.0,0.865300,0.0,0.009000,0.0,0.000000,0.0,0.0,0.0,0.0,0.087583,0.011467,0.0,0.0
743,59,2015-12-31 23:00:00-06,2.320600,0.0,0.864617,0.0,0.008900,0.0,0.000000,0.0,0.0,0.0,0.0,0.087550,0.011367,0.0,0.0
744,59,2016-01-01 00:00:00-06,2.531233,0.0,0.914750,0.0,0.008967,0.0,0.000000,0.0,0.0,0.0,0.0,0.091000,0.011333,0.0,0.0

In [5]:
hourly_data_PSTexas.to_pickle('./hourly_data_PSTexas.pickle')

In [4]:
import pandas as pd
import numpy as np
hourly_data_PSTexas=pd.read_pickle('hourly_data_PSTexas.pickle')

In [8]:
#remove data with missing value
train={}
for i in dataid:
    if hourly_data_PSTexas[hourly_data_PSTexas['dataid']==i].sort_values(by='Localhour').values[:,2:].shape == (8814, 15):
        train[i]=(hourly_data_PSTexas[hourly_data_PSTexas['dataid']==i].sort_values(by='Localhour').values[:,2:])

In [9]:
np.save('./PreprocessedData/hourly_data_PSTexas_trainingset',np.array(list(train.values())))

In [10]:
np.save('./PreprocessedData/hourly_data_PSTexas_HouseholdID',np.array(list(train.keys())))

In [14]:
hourly_data_PSTexas_trainingset=np.load('./PreprocessedData/hourly_data_PSTexas_trainingset.npy')

In [15]:
#calculate the daily data in Texas and save
daily_data_PSTexas_data=[]
for j in range(len(train)):
    first = np.sum(hourly_data_PSTexas_trainingset[j,0:24,:],axis=0)
    for i in range(1,365):
        first = np.vstack([first,np.sum(hourly_data_PSTexas_trainingset[j,i*24:(i+1)*24,:],axis=0)])
    daily_data_PSTexas_data.append(first)
daily_data_PSTexas_data=np.array(daily_data_PSTexas_data)
np.save('./PreprocessedData/daily_data_PSTexas_data.npy',daily_data_PSTexas_data)